html {
    display: block;
    height: 100%;
}

body {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    height: 100%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

section {
  display: block;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


button {
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: #82B3D3;
    margin: 0;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #82B3D3;
    border-image: initial;
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

header {
    display: block;
}

.header-page_nav {
    display: flex;
    align-items: center;
    height: 64px;
}


.header-page_logo {
    margin-left: 70px;
    margin-right: 28px;
}

.header-page_list {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header-page_list:first-of-type,
.header-page_item:not(:last-child) {
    margin-right: 32px;
}

.header-page_link {
    font-weight: 700;
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.header-page_list:last-child {
    margin-left: auto;
}

.header-page__list:last-of-type,
.header-page__item:last-child {
    margin-right: 70px;
    margin-left: 33px;
}

.header-page_list:last-of-type,
.header-page_item:first-child {
    margin-right: 26px;
}

.header-page_list:last-of-type,
.header-page_item:nth-child(2),
.header-page_link {
    position: relative;
}

.header-page_link-search {
    display: inline-block;
    background: url(img/header/icons/search.svg);
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-page_link-favorites {
    display: inline-block;
    background: url(img/header/icons/heart.svg);
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.header-page_btn {
    padding: 8px 34px;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.promo {
  background: url(img/main/header_background.jpg) no-repeat;
  background-size: 100% auto;
  text-align: center;
  background-color: #E2F0F9;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.title-main {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}

.header-page_list:last-of-type,
.header-page_item:nth-child(2),
.header-page_link {
    position: relative;
}

.promo_text {
  width: 620px;
  margin: 0 auto;
}

.title-main {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.promo_subtext {
  width: 655px;
  margin: 0 auto;
}

.advantages {
  text-align: center;
}

.advantages_list {
  list-style-type: none;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages_image {
  display: block;
}

.advantages_item:nth-child(2) {
  width: 800px;
}

.advantages-item {
  width: 400px;
  min-height: 385px;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  color: #ffffff;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 230px;
}

.box-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.box-subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.visually-hidden {
    display: none;
}

footer {
    display: block;
}

.subscribe {
    text-align: center;
}

.subscribe_text {
    width: 475px;
    margin: 0 auto;
}

.subscribe_bg {
    background-image: url(img/subscribe-background.png);
    height: 414.86px;
    color: #ffffff;
}

form {
    display: block;
    margin-top: 0;
}

input {
    writing-mode: horizontal-tb;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    background-color: field;
    margin: 0;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input[type="email" i] {
    padding: 1px 2px;
}

.light-button {
    font-family: "PT Sans";
    background-color: #82B3D3;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.subscribe_btn {
    font-size: 20px;
    line-height: 36px;
    padding: 8px 50px;
}

.social {
    display: flex;
    justify-content: space-between;
}


.social_list {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 80px;
    padding: 0;
    align-items: center;
}

.social_item:not(:last-child) {
    margin-right: 25px;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}

.social_link-telegram {
    display: inline-block;
    background-image: url(img/tg.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 15px;
}

.social_link-youtube {
    display: inline-block;
    background-image: url(img/youtube.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 15px;
}

.social_link-vk {
    display: inline-block;
    background-image: url(img/vk.svg);
    background-repeat: no-repeat;
    width: 25px;
    height: 15px;
}

.social_number {
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
}
