@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
}

p {
  font-family: "PT Sans";
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button-brown {
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button-blue {
  cursor: pointer;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:not(.pagination-link):hover,
.button:not(.pagination-link):not(.button-cancel):focus {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.button:focus {
  outline: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
  outline: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3)
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3)
}

.button:disabled,
.button-blue:disabled,
.button-brown:disabled {
  opacity: 0.3;
}

.slogan-wrapper {
  padding: 96px 304px;
}

.slogan-wrapper-headline {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.slogan-wrapper-desc {
  display: inline-block;
  margin: 0;
  margin-top: 20px;
  font-size: 22px;
  line-height: 26px;
}


/* Навигация */

.page-header {
  height: 64px;
}

.navigation {
  position: relative;
  display: flex;
  list-style: none;
  height: 100%;
  margin: 0;
  padding-left: 238px;
  padding-right: 70px;
}

.navigation-logo__link {
  position: absolute;
  left: 70px;
  margin-right: 28px;
  z-index: 1;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation .navigation-clickable-links {
  margin-left: auto;
}

.navigation a {
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.navigation-links__link {
  display: inline-block;
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  background: linear-gradient(#ffffff 50%, #81B3D3 50%);
  background-size: 100% 200%;
  transition: color 0.3s, background 0.5s;
}

.navigation-links__link:hover {
  color: #ffffff;
  background-position: 100% 100%;
}

.navigation-links__link:focus {
  outline-offset: -1px;
}

.navigation-links__link-current {
  position: relative;
}

.navigation-links__link-current::before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
  z-index: 5;
}

.clickable-links__link {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.clickable-links__link:focus {
  outline-offset: -1px;
}

.clickable-links__item:not(:last-child) a {
  color: #000000;
  background: linear-gradient(#ffffff 50%, #756157 50%);
  background-size: 100% 200%;
  transition: all 0.4s;
}

.clickable-links__item:not(:last-child):hover a {
  color: #ffffff;
  background-position: 100% 100%;
}

.clickable-links__button {
  display: inline-block;
  margin: 14px 0 14px 20px;
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.nav__favorites-count {
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 11px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.clickable-links__item:nth-child(2) a {
  position: relative;
}

.main-hero {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 51px 0 82px;
  color: #ffffff;
  background: url("../images/index-header/index-header-bg.jpg") no-repeat;
  background-size: cover;
  background-color: #000000;
  object-fit: cover;
}

.main-hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 11.75%;
  left: 0;
  bottom: -1px;
  background: url("../images/index-header/hero-triangels.svg") no-repeat;
  z-index: 1;
}

.welcome-image {
  margin-right: auto;
  margin-left: auto;
}

/* Преимущества 1 */

.advantages {
  padding-top: 69px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin: 0;
}



.advantages .slogan-wrapper-headline {
  display: inline-block;
  width: 620px;
  margin: 0 auto 25px;
  text-align: center;
}

.advantages .slogan-wrapper-desc {
  width: 651px;
  margin: 0 auto 90px;
  text-align: center;
}

.advantages-list__item {
  position: relative;
  width: 100%;
  min-height: 385px;
  padding: 102px 85px;
  box-sizing: border-box;
}

.advantages-list__wrapper {
  grid-column: 3 span;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-list__image {
  grid-column: 2 span;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages-list__item-title,
.advantages-list__item-desc {
  display: inline-block;
  margin: 0;
  text-align: center;
}

.advantages-list__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list__item-desc {
  font-size: 18px;
  line-height: 21px;
}

.advantages-list .advantages-list__item-desc {
  position: relative;
}

.advantages-list .advantages-list__item-desc::after {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}


.advantages-list .advantages-list__item-title {
  max-width: 175px;
  margin-bottom: 62px;
}


/* Задает фоновый цвет нечетным карточкам преимуществ */
.advantages-list__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

/* Задает фоновый цвет четным карточкам преимуществ */
.advantages-list__item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list__wrapper .advantages-list__item {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-list__wrapper .advantages-list__item-desc::after{
  background-color: rgba(255, 255, 255, 0.3);
}

/* Преимущества 2 */

.benefits {
  padding-top: 64px;
}

.benefits .slogan-wrapper-headline {
  width: 505px;
  margin: 0 auto 20px;
  text-align: center;
}

.benefits .slogan-wrapper-desc {
  width: 505px;
  margin: 0 auto 64px;
  text-align: center;
}

.benefits-list {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  margin: 0;
}

.benefits-list .advantages-list__item {
  padding: 183px 85px 81px;
}

.benefits-list .advantages-list__item::after {
  position: absolute;
  top: 81px;
  left: 162.5px;
  content: "";
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.benefits .advantages-list__item:nth-child(2n) {
  background-color: #ffffff;
}

.benefits-list .advantages-list__item-desc {
  margin-top: 30px;
}

.benefits-list .advantages-list__item:first-child::after {
  background-image: url("../images/benefits/house.svg")
}

.benefits-list .advantages-list__item:nth-child(2)::after {
  background-image: url("../images/benefits/food.svg")
}

.benefits-list .advantages-list__item:last-child::after {
  top: 79px;
  height: 76px;
  background-image: url("../images/benefits/gift.svg")
}

/* Поиск отеля */

.hotel-search .slogan-wrapper-desc {
  margin-top: 20px;
}

.search-hotel-button {
  cursor: pointer;
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

/* Попап */

.hotel-search-popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 5;
}

.active {
  display: block;
}

.popup-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.popup-form {
  position: relative;
  display: grid;
  grid-template-columns: 137px 110px 88px 132px 110px;
  grid-template-rows: repeat(5, min-content);
  row-gap: 48px;
  padding: 64px 70px;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.popup-form input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}

.popup-form input:focus {
  outline: none;
}

.popup-close {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  font-size: 20px;
  font-weight: 400;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
}

.popup-close:hover {
  background-color: #E6E6E6;
}

.popup-close:focus {
  outline: 3px solid #83B3D3;
}

.popup-close:active {
  opacity: 0.7;
}

.popup-title {
  grid-column: 5 span;
  display: inline-block;
  margin: 0;
  margin-bottom: 16px;
  text-align: start;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.popup-date-label {
  grid-column: 1 / -1;
  position: relative;
  display: flex;
  justify-content: space-between;
}

input[class*="date"] {
  background: url('../images/popup/popup-calendar.svg') no-repeat;
  background-position: calc(100% - 20px) 50%;
}

.date-state {
  position: absolute;
  top: 52px;
  left: 157px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.popup-label-text {
  padding: 12px 0;
  text-align: start;
  vertical-align: middle;
  text-transform: capitalize;
}

.popup-date-label input {
  padding: 12px 20px;
  width: 440px;
  background-color: #F2F2F2;
  box-sizing: border-box;
}

.popup-people-container {
  grid-column: 2 span;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.count-state {
  display: none;
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  top: 55px;
  right: -4px;
  color: #FF5757;
  opacity: 0.7;
}

.active-alert {
  display: block;
}

.popup-people-container:last-of-type {
  grid-column: 4 / -1;
  position: relative;
}

.popup-children-label-text,
.popup-adults-label-text {
  padding: 12px 0;
}

.tooltip-toggle {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-48%);
  width: 26px;
  height: 26px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  background-color: #83B3D3;
  border: none;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  top: 52px;
  left: -50px;
  display: none;
  width: 256px;
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 5;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
display: block;
}

.tooltip-text::after {
  position: absolute;
  top: -9px;
  left: 113px;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333333;
}

.popup-children-label-text::after {
  position: absolute;
  content: none;
}

.popup-people-count {
  display: flex;
  width: 110px;
  height: 48px;
  padding: 0;
  text-align: center;
  border-radius: 4px;
}

.math-mark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  font-size: 40px;
  color: #756157;
  background-color: #F2F2F2;
  border: none;
}

.math-mark path {
  transition: all 0.3s;
}

.popup-minus {
  border-radius: 4px 0 0 4px;
}

.popup-minus:hover .minus-svg path{
  fill: #000000;
  fill-opacity: 1;
}

.popup-plus {
  border-radius: 0 4px 4px 0;
}

.popup-plus:hover .plus-svg path{
  fill: #000000;
  fill-opacity: 1;
}

.popup-plus::after {
  width: 2px;
  height: 14px;
  left: 19px;
}

.popup-people-count .people-count-field {
  width: 31px;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 0;
}

.people-count-field::-webkit-inner-spin-button,
.people-count-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.popup-find-button {
  cursor: pointer;
  grid-column: 5 span;
  padding: 18px 0;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

/* Рассылка */

.email-subscription {
  padding: 96px 258px 104px;
}


/* Сделать bg-image растягиваемой по высоте */
.main-email-subscription {
  color: #ffffff;
  background-color: #000000;
  background: url("../images/blur-photos/newsletter-bg.jpg") no-repeat;
  background-size: auto;
  object-fit: cover;
}

.inner-email-subscription .field {
  background-color: #F2F2F2;
}

.email-subscription .slogan-wrapper-headline {
  display: inline-block;
  text-align: center;
  margin: 0 auto 20px;
}

.email-subscription .slogan-wrapper-desc {
  display: inline-block;
  max-width: 475px;
  margin: 0 auto 54px;
  text-align: center;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 452px 232px;
  grid-template-rows: minmax(52px, max-content);
  font-family: "PT Sans", Arial, sans-serif;
}

.newsletter-form .field {
  padding: 0;
  padding-left: 20px;
  font-size: 18px;
  line-height: 24px;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  transition: background-color 0.6s;
}

.newsletter-form .field:hover {
  background-color: #e6e6e6;
}

.newsletter-form .field:focus {
  outline: 1px solid whitesmoke;
}

.newsletter-form .newsletter-button {
  padding: 0;
  font-size: 20px;
  line-height: 36px;
  border-width: 0;
  border-radius: 0 4px 4px 0;
}

/* Футер */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
  /* height: 120px; */
  box-sizing: border-box;
}

.page-footer svg {
  display: block;
}



.social-svg:hover path {
  fill: #68A2CA;
}

.social-button:focus-visible path {
  fill: #68A2CA;
}

.social-button:focus-visible {
  outline: none;
}

.social-svg:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}

.footer-social .footer-social__item {
  display: inline-block;
  height: 49px;
}

.footer-social .social-button {
  display: flex;
  width: 47px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.footer-telephone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 720px;
  height: 50px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-telephone:hover,
.footer-telephone:focus {
  color: #756157;
  outline: none;
}

.footer-telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}

.footer-copyright-img:hover path {
  fill: #756157;
}

.footer-copyright:focus-visible path {
  fill: #756157;
}

.footer-copyright:focus-visible {
  outline: none;
}

.footer-copyright:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Хедер каталога */

.inner-header {
  margin: 0;
  padding: 35px 70px 70px;
  text-align: left;
  color: #ffffff;
  background-color: #000000;
  background: url("../images/blur-photos/catalog-header-bg.jpg") no-repeat;
  background-size: cover;
}

.inner-header-wrapper {
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

/* Breadcrumbs  */

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 21px;
}

.breadcrumbs-item {
  height: 100%;
}

.breadcrumbs-link {
  height: 100%;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 28.5px;
}

.breadcrumbs-item:last-child .breadcrumbs-link {
  cursor: default;
}

.breadcrumbs-item:first-child a {
  display: inline-block;
  width: 12px;
  height: 100%;
  background: url("../images/inner-header-icons/breadcrumbs-home.svg") no-repeat 50% 50%;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  content: "";
  right: -20px;
  width: 8px;
  height: 21px;
  background: url("../images/inner-header-icons/toright-arrow.svg") no-repeat;
  background-position: 50% 50%;
}

/* Фильтры */

.catalog-filter {
  display: grid;
  grid-template-columns: auto auto;
  gap: 140px;
}

.catalog-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-group {
  display: grid;
  grid-template-columns: 151px 151px;
  gap: 70px;
}

.filters-group:last-child {
  grid-template-columns: 288px 191px;
}

.catalog-filter-group .catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control {
  position: relative;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  font-size: 18px;
  line-height: 23px;
}

.control-mark {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  opacity: 0.7;
}

.control input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active {
  opacity: 0.4;
}

.control-checkbox:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  content: "";
  width: 12.2px;
  height: 10px;
  background: url("../images/inner-header-icons/check-mark.svg") no-repeat;
}

.control-checkbox:disabled + .control-mark,
.control-radio:disabled + .control-mark {
  opacity: 0.3;
}

.catalog-filter-item:not(:nth-of-type(3)) .control {
  margin-bottom: 16px;
}

.control-radio + .control-mark {
  border-radius: 50%;
}

.control-radio:checked +.control-mark::before {
  position: absolute;
  top: 5px;
  left: 4.6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
  content: "";
}

/* Секция цены */

.catalog-price-range {
  display: flex;
}

.range-wrapper-inputs {
  position: relative;
  display: flex;
  margin-bottom: 36px;
}

.range-wrapper-inputs input {
  width: 143px;
  height: 48px;
  padding: 12px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  box-sizing: border-box;
}

.range-wrapper-inputs input[type=number]::-webkit-inner-spin-button,
.range-wrapper-inputs input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.range-from__field {
  margin-right: 2px;
  border-radius: 4px 0 0 4px;
}

.range-to__field {
  border-radius: 0 4px 4px 0;
}

.range-from__field__text,
.range-to__field__text {
  position: absolute;
  content: "от";
  top: 50%;
  left: 106px;
  transform: translateY(-50%);
  width: 20px;
  height: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #AAAAAA;
}

.range-to__field__text {
  left: 248px;
}

.range-scale {
  position: relative;
  min-height: 20px;
  width: 285px;
  /* height: 20px; */
}

.range-scale input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  width: 285px;
  position: absolute;
  background-color: #5E676C;
  pointer-events: none;
  /* border: 2px solid #C6C6C6; */
}

.range-scale input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

.range-scale input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

.range-scale input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

.range-scale input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

#range-scale__from {
  height: 0;
  top: 2px;
  z-index: 1;
}

/* Кнопки фильтра */

.catalog-filter-buttons-group {
  margin-top: auto;
}

.catalog-filter-buttons-group button {
  width: 191px;
  padding: 8px 3px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  border: none;
}

.button-accept {
  margin-bottom: 32px;
}

.button-cancel {
  color: #ffffff;
  background-color: transparent;
  box-sizing: border-box;
}

.button-cancel:hover {
  opacity: 0.7;
}

.button-cancel:focus {
  outline: 3px solid #83B3D3;
}

.button-cancel:focus-visible {
  outline: 3px solid #83B3D3;
}

.button-cancel:active {
  opacity: 0.5;
}

.button-cancel:disabled {
  opacity: 0.3;
}

/* Опции показа карточек отелей */

.search-results {
  padding: 50px 70px 60px;
  text-align: left;
}

.search-results-options {
  display: flex;
  height: 49px;
  margin-bottom: 40px;
  align-items: center;
}

.options-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.options-select {
  cursor: pointer;
  appearance: none;
  width: 292px;
  margin-left: 200px;
  padding: 11px 20px;
  padding-right: 40px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 3px solid #E5E5E5;
  border-radius: 4px;
  background-image: url(../images/cards-icons/tobottom-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.options-select:hover {
  border-color: #68A2CA;
}

.options-select:focus {
  border-color: #3F5E72;
  outline: none;
}

.options-select:disabled {
  border-color: #000000;
  opacity: 0.3;
}

.options-buttons-group {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.option-buttons__item {
  width: 48px;
  height: 48px;
}

.option-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.option-buttons__item .button {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.option-buttons__item .button:hover,
.option-buttons__item .button:active {
  border-color: #000000;
}

.option-buttons__item .button:focus {
  border-color: #68A2CA;
}

.option-buttons__item .current-button {
  border-color: #000000;
}

.option-buttons__item:first-child a {
  background: url("../images/cards-icons/view-icon-1.svg") no-repeat 50% 50%;
}

.option-buttons__item:nth-child(2) a {
  background: url("../images/cards-icons/view-icon-2.svg") no-repeat 50% 50%;
}

.option-buttons__item:last-child a {
  background: url("../images/cards-icons/view-icon-3.svg") no-repeat 50% 50%;
}

/* Карточки отелей */

.hotels-cards {
  padding-bottom: 40px;
  text-align: left;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-cards-list {
  display: grid;
  grid-template-columns: repeat(3, calc((100% - 40px) / 3));
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-cards__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
}

.hotel-card-buttons {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 20px) / 2));
  grid-template-rows: repeat(3, min-content);
  gap: 16px 20px;
}

.hotels-cards a {
  text-decoration: none;
}

.hotel-card-link {
  margin-bottom: 16px;
}

.hotel-card-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-title {
  display: inline-block;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #000000;
}

.hotel-card-info {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  text-align: right;
}

/* Кнопки карточек */

.hotels-cards__item .card-button,
.hotels-cards__item .cardButton {
  display: inline-block;
  width: 140px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  font-family: "PT Sans", Arial, sans-serif;
}

.hotels-cards__item .card-button:active {
  outline: 3px solid lightblue;
  outline-offset: -3px;
}

.card-favorites-selected-button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  background-color: #7DB54F;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.card-favorites-selected-button:hover,
.card-favorites-selected-button:focus-visible {
  background-color: #6C9E42;
}

.card-favorites-selected-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotels-cards__item .card-rating-button {
  font-weight: 400;
  color: #333333;
  background-color: #F2F2F2;
  text-transform: uppercase;
  border-radius: 4px;
}

.card-stars-row {
  display: flex;
  width: 140px;
  padding: 8px 0;
  list-style: none;
}

.card-star {
  width: 18px;
  height: 17px;
  background: url("../images/cards-icons/hotel-star.svg") no-repeat 50% 50%;
}

.card-stars-row .card-star:not(:last-child) {
  margin-right: 6px;
}

/* Pagination */

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.pagination a {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 11.36px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  box-sizing: border-box;
}

.pagination .pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current a {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-ellipsis a {
  color: #000000;
  background-color: transparent;
}
